:root {
	--black-color: #1d1e20;
	--gray-color: #aaaaaa;
}

html, body {
	position: relative;
	width: 100%;
}

body {
	color: var(--black-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a, a:hover, a:visited, a:active {
	color: var(--black-color);
	padding: 2px;
}